<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ListenerPort" value="5678"/>
    <add key="ScriptFileDirectory" value="script/"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
          type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>